body {
    background: url("../../../resources/img/fondo-index.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-width: 600px;
}

.txt-bienvenida {
    color: aqua;
    font-style: italic;
    text-align: center;
    font-size: 100px;
}