body {
  font-size: 16px;
  min-width: 600px;
}

body {
  background: url("./resources/img/book-with-green-board-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-width: 600px;
  height: 100%;
}

html {
  height: 90%;
}

.tittle-login {
  margin: 21px;
  text-align: center;
  padding: 9px;
  font-size: 40px;
  border-bottom: 1px solid white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-form button:hover {
  opacity: 0.8;
}

.imgcontainer {
  width: 40%;
  display: inline;
}
.login-form {
  width: 60%;
  float: right;
}

.login-form button:hover {
}

.login-form .cancelbtn {
  width: 50%;
  padding: 10px 18px;
  background-color: #f44336;
}

.login-form .forgotbtn {
  width: 50%;
  padding: 10px 18px;
  background-color: #187383;
  display: inline-block;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.imgcontainer img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.login span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .login-form span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.login {
  height: 460px;
  margin-top: 10%;
  padding: 30px;
  border-radius: 1%;
  min-height: 250px;
  max-width: 50%;
  margin-left: 10%;
  margin-right: 40%;
  background-color: rgba(51, 51, 51, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.tittle-registro {
  margin: 21px;
  text-align: center;
  padding: 9px;
  font-size: 40px;
  border-bottom: 1px solid white;
}

.registro-form input[type="text"],
.registro-form input[type="password"],
.registro-form input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.registro-form button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registro-form button:hover {
  opacity: 0.8;
}

.registro-form {
  width: 0%;
  float: right;
}

.registro-form button:hover {
}

.registro-form .cancelbtn {
  width: 48%;
  padding: 10px 18px;
  background-color: #f44336;
}

.registro-form .forgotbtn {
  width: 48%;
  padding: 10px 18px;
  background-color: #187383;
  display: inline-block;
}

.registro span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .registro-form span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.registro {
  height: 560px;
  margin-top: 5%;
  padding: 30px;
  border-radius: 1%;
  min-height: 250px;
  max-width: 50%;
  margin-left: 10%;
  margin-right: 40%;
  background-color: rgba(51, 51, 51, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  display: inline-block;
  text-align: center;
  font-family: arial;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1.5%;
}

.title {
  color: grey;
  font-size: 18px;
}

.card p button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card p {
  padding: 10px;
  text-align: justify;
}

.card div a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card p button:hover,
a:hover {
  opacity: 0.7;
}

.nosotros {
  margin: 5%;
}

.form-contacto input[type="text"],
.form-contacto select,
.form-contacto textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form-contacto input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-contacto label {
  color: white;
}

.form-contacto input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: rgba(73, 73, 73, 0.9);
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 45%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  .form-contacto input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.contacto {
  margin: 5%;
}
